In [1]:
#!pip install faker --quiet

### 1. Import Libraries & Configurations

In [38]:
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta

fake = Faker()

# Configuration
num_customers = 6000
num_agents = 300
num_rms = 200
num_policies = 6000
num_applications = 7000
num_transactions = 120000
num_policy_types = 10
start_date = datetime(2022, 1, 1)
end_date = datetime(2025, 1, 1)

###  Helper functions

In [41]:

def random_date(start, end):
    """Generate a random date between start and end."""
    return start + timedelta(days=np.random.randint((end - start).days))

#### Customer

In [42]:
def generate_customers(n):
    """Generate customers with realistic data distributions."""
    customers = []
    for i in range(1, n + 1):
        # Generate Customer ID with six digits
        customer_id = f"{i:06d}"
        
        # Gender Distribution
        gender = np.random.choice(["Male", "Female"], p=[0.7, 0.3])
        
        # Age and DOB Distribution
        age_brackets = [
            {"range": (18, 30), "probability": 0.4},
            {"range": (31, 45), "probability": 0.3},
            {"range": (46, 60), "probability": 0.2},
            {"range": (61, 75), "probability": 0.1},
        ]
        selected_bracket = np.random.choice(
            age_brackets, 
            p=[bracket["probability"] for bracket in age_brackets]
        )
        age = np.random.randint(selected_bracket["range"][0], selected_bracket["range"][1] + 1)
        dob = datetime.now() - timedelta(days=age * 365 + np.random.randint(0, 365))
        
        # Annual Income based on Age Bracket
        if 18 <= age <= 30:
            annual_income = round(np.random.uniform(50000, 150000), 2)
        elif 31 <= age <= 45:
            annual_income = round(np.random.uniform(150000, 300000), 2)
        elif 46 <= age <= 60:
            annual_income = round(np.random.uniform(300000, 400000), 2)
        else:  # 61 to 75
            annual_income = round(np.random.uniform(400000, 500000), 2)
        
        # Source Channel Distribution
        source_channel = np.random.choice(["Web", "Agent", "Bank"], p=[0.3, 0.5, 0.2])
        
        # Append customer data
        customers.append({
            "Customer_ID": customer_id,
            "First_Name": fake.first_name(),
            "Last_Name": fake.last_name(),
            "Gender": gender,
            "DOB": dob.strftime('%Y-%m-%d'),
            "Email": fake.email(),
            "Phone": fake.phone_number(),
            "Address": fake.address(),
            "City": fake.city(),
            "Zip_Code": fake.zipcode(),
            "Occupation": fake.job(),
            "Annual_Income": annual_income,
            "Source_Channel": source_channel,
            "Created_At": random_date(start_date, end_date).strftime('%Y-%m-%d'),
        })
    
    return pd.DataFrame(customers)

In [43]:
customers = generate_customers(num_customers)

# Display sample data
customers.head()

,Customer_ID,First_Name,Last_Name,Gender,DOB,Email,Phone,Address,City,Zip_Code,Occupation,Annual_Income,Source_Channel,Created_At
0,000001,Pamela,Mckinney,Male,1981-04-19,lrobinson@example.com,5064677624,"355 Laura Viaduct\nSouth Gregoryburgh, MS 29747",Loriside,87699,Quantity surveyor,269746.34,Agent,2024-07-25
1,000002,Cathy,Tapia,Male,1984-11-29,ydixon@example.com,(285)460-1821x40503,"45910 Mike Springs Suite 078\nEast Robert, DC ...",Lake Jermaineton,60721,Economist,178033.09,Agent,2022-03-04
2,000003,Timothy,Johnson,Female,1969-12-16,piercejohnny@example.com,454-718-1850,"594 James Junction Apt. 675\nEast Anthony, NE ...",New Tracy,46858,Broadcast engineer,383134.05,Web,2024-03-28
3,000004,Kimberly,Brown,Male,1954-03-05,amymitchell@example.com,(273)575-5634,"51491 Bishop Orchard\nWest Mikestad, MO 72432",West David,08726,Tax inspector,478277.59,Bank,2024-09-13
4,000005,Wayne,English,Female,1982-07-11,xjensen@example.org,+1-297-316-8130x0041,USNV Wallace\nFPO AE 38271,South Zacharyview,49234,"Geneticist, molecular",226647.07,Agent,2023-09-05

#### Agents

In [44]:
def generate_agents(n):
    """Generate agents with realistic data distributions."""
    agents = []
    for i in range(1, n + 1):
        # Generate Agent ID with 'A' prefix and three digits
        agent_id = f"A{i:03d}"
        
        # Status Distribution: 90% Active, 10% Inactive
        status = np.random.choice(["Active", "Inactive"], p=[0.9, 0.1])
        
        # Commission Rate: Between 1% and 10%
        commission_rate = round(np.random.uniform(1, 10), 2)
        
        # Phone Number: US 10-digit phone number
        phone = ''.join([str(np.random.randint(0, 10)) for _ in range(10)])
        
        # Append agent data
        agents.append({
            "Agent_ID": agent_id,
            "First_Name": fake.first_name(),
            "Last_Name": fake.last_name(),
            "Email": fake.email(),
            "Phone": phone,
            "Joining_Date": random_date(start_date, end_date).strftime('%Y-%m-%d'),
            "Status": status,
            "Commission_Rate": commission_rate,
        })
    
    return pd.DataFrame(agents)

In [45]:
agents = generate_agents(num_agents)

# Display sample data
agents.head()

,Agent_ID,First_Name,Last_Name,Email,Phone,Joining_Date,Status,Commission_Rate
0,A001,Jordan,Vasquez,michaelthornton@example.net,5918265574,2023-04-06,Active,4.96
1,A002,Jessica,Calhoun,sarahhayes@example.net,0030357181,2024-06-07,Active,8.77
2,A003,Charles,Mejia,nmcdaniel@example.net,7915753393,2022-02-08,Active,5.14
3,A004,Alicia,Tran,emilylynch@example.com,0329521876,2024-01-19,Active,3.72
4,A005,Crystal,Myers,holly85@example.net,9269033034,2024-12-03,Active,3.93

### Branch

In [46]:
def generate_branches(n):
    """Generate branches."""
    branches = []
    for i in range(1, n + 1):
        # Generate Branch ID with 'B' prefix and three digits
        branch_id = f"B{i:03d}"
        
        branches.append({
            "Branch_ID": branch_id,
            "Branch_Name": f"Branch {i}",
            "Address": fake.address(),
            "City": fake.city(),
            "Zip_Code": fake.zipcode(),
        })
    
    return pd.DataFrame(branches)

In [47]:
num_branches = 50  # Adjust as per requirements
branches = generate_branches(num_branches)
branches.head()

,Branch_ID,Branch_Name,Address,City,Zip_Code
0,B001,Branch 1,"79264 Lewis Hollow Suite 415\nJaniceton, VT 43325",Chadberg,75567
1,B002,Branch 2,"70238 Frederick Place Apt. 622\nAmandamouth, N...",Brownmouth,20442
2,B003,Branch 3,"0392 Terri Pines Suite 238\nSmithbury, PW 49761",Jasonton,78600
3,B004,Branch 4,96624 Moore Villages Suite 010\nPort Danielche...,South Staceymouth,13089
4,B005,Branch 5,"3639 Holt Cape Apt. 825\nChristopherview, NM 4...",Brandonfort,38663

### RM

In [48]:
def generate_rms(n, branches):
    """Generate relationship managers (RMs) with branch foreign keys."""
    rms = []
    for i in range(1, n + 1):
        # Generate RM ID with 'RM' prefix and three digits
        rm_id = f"RM{i:03d}"
        
        # Assign a Branch_ID (one-to-one relationship between RM and Branch)
        branch_id = branches.sample(1).iloc[0]["Branch_ID"]
        
        rms.append({
            "RM_ID": rm_id,
            "First_Name": fake.first_name(),
            "Last_Name": fake.last_name(),
            "Email": fake.email(),
            "Phone": ''.join([str(np.random.randint(0, 10)) for _ in range(10)]),  # 10-digit phone number
            "Joining_Date": random_date(start_date, end_date).strftime('%Y-%m-%d'),
            "Status": np.random.choice(["Active", "Inactive"], p=[0.9, 0.1]),  # 90% Active, 10% Inactive
            "Branch_ID": branch_id,
        })
    
    return pd.DataFrame(rms)

In [49]:
# Define the number of branches and RMs
num_rms = 200  # 20% of the total data for Bank RM

# Generate branches
branches = generate_branches(num_branches)

# Generate RMs, linking to branches
rms = generate_rms(num_rms, branches)


print("\nRelationship Managers (RMs):")
rms.head()

Relationship Managers (RMs):

,RM_ID,First_Name,Last_Name,Email,Phone,Joining_Date,Status,Branch_ID
0,RM001,Billy,Hill,carlos59@example.net,3281306212,2023-01-13,Active,B038
1,RM002,Mark,Garcia,kmontoya@example.net,7609144272,2024-04-23,Active,B025
2,RM003,Rhonda,Love,levialexander@example.com,7471517262,2022-01-02,Active,B050
3,RM004,Emily,Thomas,johnsonthomas@example.com,6859819374,2024-06-19,Active,B034
4,RM005,Michael,Thompson,john85@example.com,7769476036,2022-04-14,Active,B049

### policy type

In [50]:
def generate_policy_types():
    """Generate policy types with realistic details."""
    policy_types = []
    insurance_types = [
        "Term Life Insurance",
        "Whole Life Insurance",
        "Universal Life Insurance",
        "Guaranteed Universal Life Insurance",
        "Indexed Universal Life Insurance",
        "Variable Universal Life Insurance",
        "Variable Life Insurance",
        "Final-Expense Insurance",
        "Group Life Insurance",
        "Joint Life Insurance"
    ]

    descriptions = [
        "Provides coverage for a specific term with no cash value.",
        "Offers lifelong coverage with a cash value component.",
        "Flexible premiums with a cash value tied to interest rates.",
        "Lifetime coverage with fixed premiums and guaranteed payouts.",
        "Tied to a stock index for cash value growth.",
        "Flexible premiums and investments in various portfolios.",
        "Combines lifelong coverage with investment options.",
        "Covers end-of-life expenses like funerals and medical bills.",
        "Covers a group, often offered by employers.",
        "Covers two individuals, usually spouses, under one policy."
    ]

    # Term and sum assured values for the 10 policy types
    term_years = [
        (10, 30),  # Term Life Insurance
        (20, 50),  # Whole Life Insurance
        (15, 45),  # Universal Life Insurance
        (20, 50),  # Guaranteed Universal Life Insurance
        (10, 40),  # Indexed Universal Life Insurance
        (10, 40),  # Variable Universal Life Insurance
        (15, 40),  # Variable Life Insurance
        (5, 10),   # Final-Expense Insurance
        (10, 30),  # Group Life Insurance
        (15, 40)   # Joint Life Insurance
    ]

    sum_assured = [
        (50000, 250000),   # Term Life Insurance
        (100000, 1000000), # Whole Life Insurance
        (100000, 500000),  # Universal Life Insurance
        (200000, 750000),  # Guaranteed Universal Life Insurance
        (100000, 700000),  # Indexed Universal Life Insurance
        (150000, 1000000), # Variable Universal Life Insurance
        (150000, 1000000), # Variable Life Insurance
        (10000, 50000),    # Final-Expense Insurance
        (50000, 500000),   # Group Life Insurance
        (200000, 800000)   # Joint Life Insurance
    ]

    for i, policy_type in enumerate(insurance_types):
        policy_types.append({
            "Policytype_ID": f"PI{i+1:07d}",  # ID starts with 'PI' and is 7 digits
            "Type_Name": policy_type,
            "Description": descriptions[i],
            "Min_Term_Year": term_years[i][0],
            "Max_Term_Year": term_years[i][1],
            "Min_Sum_Assured": sum_assured[i][0],
            "Max_Sum_Assured": sum_assured[i][1],
        })
    
    return pd.DataFrame(policy_types)

In [51]:
# Generate policy types
policy_types = generate_policy_types()

# Display generated data
policy_types

,Policytype_ID,Type_Name,Description,Min_Term_Year,Max_Term_Year,Min_Sum_Assured,Max_Sum_Assured
0,PI0000001,Term Life Insurance,Provides coverage for a specific term with no ...,10,30,50000,250000
1,PI0000002,Whole Life Insurance,Offers lifelong coverage with a cash value com...,20,50,100000,1000000
2,PI0000003,Universal Life Insurance,Flexible premiums with a cash value tied to in...,15,45,100000,500000
3,PI0000004,Guaranteed Universal Life Insurance,Lifetime coverage with fixed premiums and guar...,20,50,200000,750000
4,PI0000005,Indexed Universal Life Insurance,Tied to a stock index for cash value growth.,10,40,100000,700000
5,PI0000006,Variable Universal Life Insurance,Flexible premiums and investments in various p...,10,40,150000,1000000
6,PI0000007,Variable Life Insurance,Combines lifelong coverage with investment opt...,15,40,150000,1000000
7,PI0000008,Final-Expense Insurance,Covers end-of-life expenses like funerals and ...,5,10,10000,50000
8,PI0000009,Group Life Insurance,"Covers a group, often offered by employers.",10,30,50000,500000
9,PI0000010,Joint Life Insurance,"Covers two individuals, usually spouses, under...",15,40,200000,800000

### Application

In [52]:
def generate_applications(n, customers, agents, rms, policy_types):
    """Generate applications with realistic data and relationships."""
    applications = []
    for i in range(1, n + 1):
        # Generate Application ID with 'AID' prefix and 8 digits
        application_id = f"AID{i:08d}"
        
        # Randomly choose a customer
        customer = customers.sample(1).iloc[0]
        
        # Randomly choose a policy type
        policy_type = policy_types.sample(1).iloc[0]
        
        # Assign agent or RM (50% chance for each)
        agent_id = agents.sample(1).iloc[0]["Agent_ID"] if np.random.random() < 0.5 else None
        rm_id = rms.sample(1).iloc[0]["RM_ID"] if agent_id is None else None  # RM only if agent is not assigned
        
        # Application Date
        application_date = random_date(start_date, end_date)
        
        # Application Status
        status = np.random.choice(["Approved", "Rejected", "Withdrawn", "Pending"], p=[0.7, 0.1, 0.1, 0.1])
        
        # Sum Assured: Adjusted based on customer age, income, and policy type range
        age = (datetime.now() - datetime.strptime(customer["DOB"], '%Y-%m-%d')).days // 365
        if age <= 30:
            sum_assured = round(np.random.uniform(max(policy_type["Min_Sum_Assured"], 50000), policy_type["Min_Sum_Assured"] + 50000), 2)
        elif age <= 45:
            sum_assured = round(np.random.uniform(policy_type["Min_Sum_Assured"], policy_type["Max_Sum_Assured"] * 0.7), 2)
        elif age <= 60:
            sum_assured = round(np.random.uniform(policy_type["Min_Sum_Assured"], policy_type["Max_Sum_Assured"] * 0.9), 2)
        else:
            sum_assured = round(np.random.uniform(policy_type["Min_Sum_Assured"], policy_type["Max_Sum_Assured"]), 2)
        
        # Premium Amount: Related to Sum Assured and Term Years
        term_years = np.random.randint(policy_type["Min_Term_Year"], policy_type["Max_Term_Year"] + 1)
        premium_amount = round(sum_assured / (term_years * 12), 2) if term_years > 0 else 0
        
        # Premium Frequency: Monthly, Quarterly, Yearly
        premium_frequency = np.random.choice(["Monthly", "Quarterly", "Yearly"])
        
        # Append application data
        applications.append({
            "Application_ID": application_id,
            "Customer_ID": customer["Customer_ID"],
            "Policytype_ID": policy_type["Policytype_ID"],
            "Agent_ID": agent_id,
            "RM_ID": rm_id,
            "Application_Date": application_date.strftime('%Y-%m-%d'),
            "Status": status,
            "Sum_Assured": sum_assured,
            "Premium_Amount": premium_amount,
            "Premium_Frequency": premium_frequency,
            "Payment_Method": np.random.choice(["Auto Pay", "Non Auto Pay"], p=[0.6, 0.4]),
            "Created_At": application_date.strftime('%Y-%m-%d'),
        })
    
    return pd.DataFrame(applications)

In [53]:
applications = generate_applications(10000, customers, agents, rms, policy_types)

# Display sample data
applications.head()

,Application_ID,Customer_ID,Policytype_ID,Agent_ID,RM_ID,Application_Date,Status,Sum_Assured,Premium_Amount,Premium_Frequency,Payment_Method,Created_At
0,AID00000001,004548,PI0000003,A006,None,2022-11-26,Pending,127470.72,424.90,Quarterly,Auto Pay,2022-11-26
1,AID00000002,001224,PI0000008,None,RM079,2024-03-07,Approved,27132.55,376.84,Yearly,Auto Pay,2024-03-07
2,AID00000003,005161,PI0000006,None,RM008,2024-06-18,Approved,344201.25,2390.29,Yearly,Non Auto Pay,2024-06-18
3,AID00000004,004739,PI0000007,A131,None,2022-01-01,Approved,277066.25,699.66,Quarterly,Non Auto Pay,2022-01-01
4,AID00000005,001821,PI0000007,None,RM015,2023-05-18,Approved,175864.26,586.21,Quarterly,Auto Pay,2023-05-18

### status code

In [54]:
def generate_status_log():
    """Generate status log data."""
    statuses = [
        {"Status_Code": "01", "Description": "Policy Issued"},
        {"Status_Code": "02", "Description": "Policy Activated"},
        {"Status_Code": "03", "Description": "Policy Lapsed "}
        
    ]
    return pd.DataFrame(statuses)

In [55]:
status_log = generate_status_log()
status_log.head()

  Status_Code       Description
0          01     Policy Issued
1          02  Policy Activated
2          03    Policy Lapsed

### communication log table

In [66]:
def generate_communication_log(n):
    """Generate communication logs linked to policies."""
    logs = []
    for i in range(1, n + 1):
        policy = policies.sample(1).iloc[0]
        
        # Convert Issue_Date and Maturity_Date to datetime objects
        issue_date = datetime.strptime(policy["Issue_Date"], '%Y-%m-%d')
        maturity_date = datetime.strptime(policy["Maturity_Date"], '%Y-%m-%d')
        
        logs.append({
            "Log_ID": f"LOG{i:07d}",
            "Policy_Number": policy["Policy_Number"],
            "Communication_Type": np.random.choice(["Email", "SMS", "Call"]),
            "Sent_Date": random_date(issue_date, maturity_date).strftime('%Y-%m-%d'),
            "Message_Type": np.random.choice(["Reminder", "Notification", "Warning"]),
        })
    return pd.DataFrame(logs)

In [67]:
communication_logs = generate_communication_log(15000, policies)
communication_logs.head()

NameError: name 'policies' is not defined



### Premium Payment Table

In [60]:
def generate_premium_payments(n, policies):
    """Generate premium payments for policies."""
    payments = []
    for i in range(1, n + 1):
        policy = policies.sample(1).iloc[0]
        
        # Convert Issue_Date and Maturity_Date to datetime
        issue_date = datetime.strptime(policy["Issue_Date"], '%Y-%m-%d')
        maturity_date = datetime.strptime(policy["Maturity_Date"], '%Y-%m-%d')
        
        payment_date = random_date(issue_date, maturity_date)
        payments.append({
            "Payment_ID": f"PAY{i:07d}",
            "Policy_Number": policy["Policy_Number"],
            "Payment_Date": payment_date.strftime('%Y-%m-%d'),
            "Amount": policy["Premium_Amount"],
            "Status": np.random.choice(["Completed", "Pending"]),
            "Transaction_ID": fake.uuid4(),
        })
    return pd.DataFrame(payments)

In [61]:
premium_payments = generate_premium_payments(120000, policies)
premium_payments.head()

NameError: name 'policies' is not defined

### premium schedule table

In [58]:
def generate_premium_schedule(n, payments):
    """Generate premium schedules linked to premium payments."""
    schedules = []
    for i in range(1, n + 1):
        payment = payments.sample(1).iloc[0]
        
        # Convert Payment_Date to datetime
        payment_date = datetime.strptime(payment["Payment_Date"], '%Y-%m-%d')
        
        # Set the due date within a realistic range (e.g., 1 to 3 months after the payment date)
        due_date = random_date(payment_date, payment_date + timedelta(days=90))
        
        schedules.append({
            "Schedule_ID": f"SC{i:07d}",
            "Payment_ID": payment["Payment_ID"],
            "Due_Date": due_date.strftime('%Y-%m-%d'),
            "Status": np.random.choice(["Paid", "Overdue"]),
            "Grace_Period_Days": np.random.randint(5, 30),
        })
    return pd.DataFrame(schedules)



#### random_date 

def random_date(start, end):
    """Generate a random date between start and end."""
    start = pd.to_datetime(start) if isinstance(start, str) else start
    end = pd.to_datetime(end) if isinstance(end, str) else end
    
    # Ensure start is always before end
    if start >= end:
        return start
    
    return start + timedelta(days=np.random.randint(0, (end - start).days + 1))

In [59]:
premium_schedules = generate_premium_schedule(120000, premium_payments)
premium_schedules.head()

NameError: name 'premium_payments' is not defined

### policies table

In [62]:
def generate_policies(n, applications, status_log, schedules=None, logs=None):
    """Generate policies linked to applications, status logs, schedules, and logs."""
    policies = []
    approved_apps = applications[applications["Status"] == "Approved"]

    for i in range(1, n + 1):
        app = approved_apps.sample(1).iloc[0]
        status = status_log.sample(1).iloc[0]
        
        # Assign schedule and log IDs only if provided
        schedule_id = schedules.sample(1).iloc[0]["Schedule_ID"] if schedules is not None else None
        log_id = logs.sample(1).iloc[0]["Log_ID"] if logs is not None else None
        
        policies.append({
            "Policy_Number": f"POL{i:07d}",
            "Application_ID": app["Application_ID"],
            "Status_Code": status["Status_Code"],
            "Log_ID": log_id,
            "Schedule_ID": schedule_id,
            "Issue_Date": random_date(start_date, end_date).strftime('%Y-%m-%d'),
            "Premium_Amount": app["Premium_Amount"],
            "Maturity_Date": random_date(end_date, end_date + timedelta(days=3650)).strftime('%Y-%m-%d'),
            "Created_Date": random_date(start_date, end_date).strftime('%Y-%m-%d'),
        })
    
    return pd.DataFrame(policies)

In [63]:
policies = generate_policies(100, applications, status_log, schedules, logs)
policies.head()

NameError: name 'schedules' is not defined

### communication log table

In [17]:
def generate_communication_log(n, policies):
    """Generate communication logs linked to policies."""
    logs = []
    for i in range(1, n + 1):
        policy = policies.sample(1).iloc[0]
        
        # Convert Issue_Date and Maturity_Date to datetime objects
        issue_date = datetime.strptime(policy["Issue_Date"], '%Y-%m-%d')
        maturity_date = datetime.strptime(policy["Maturity_Date"], '%Y-%m-%d')
        
        logs.append({
            "Log_ID": f"LOG{i:07d}",
            "Policy_Number": policy["Policy_Number"],
            "Communication_Type": np.random.choice(["Email", "SMS", "Call"]),
            "Sent_Date": random_date(issue_date, maturity_date).strftime('%Y-%m-%d'),
            "Message_Type": np.random.choice(["Reminder", "Notification", "Warning"]),
        })
    return pd.DataFrame(logs)

In [18]:
communication_logs = generate_communication_log(15000, policies)
communication_logs.head()

NameError: name 'policies' is not defined

### Premium Payment Table

In [93]:
def generate_premium_payments(n, policies):
    """Generate premium payments for policies."""
    payments = []
    for i in range(1, n + 1):
        policy = policies.sample(1).iloc[0]
        
        # Convert Issue_Date and Maturity_Date to datetime
        issue_date = datetime.strptime(policy["Issue_Date"], '%Y-%m-%d')
        maturity_date = datetime.strptime(policy["Maturity_Date"], '%Y-%m-%d')
        
        payment_date = random_date(issue_date, maturity_date)
        payments.append({
            "Payment_ID": f"PAY{i:07d}",
            "Policy_Number": policy["Policy_Number"],
            "Payment_Date": payment_date.strftime('%Y-%m-%d'),
            "Amount": policy["Premium_Amount"],
            "Status": np.random.choice(["Completed", "Pending"]),
            "Transaction_ID": fake.uuid4(),
        })
    return pd.DataFrame(payments)

### premium schedule table

In [100]:
def generate_premium_schedule(n, payments):
    """Generate premium schedules linked to premium payments."""
    schedules = []
    for i in range(1, n + 1):
        payment = payments.sample(1).iloc[0]
        
        # Convert Payment_Date to datetime
        payment_date = datetime.strptime(payment["Payment_Date"], '%Y-%m-%d')
        
        # Set the due date within a realistic range (e.g., 1 to 3 months after the payment date)
        due_date = random_date(payment_date, payment_date + timedelta(days=90))
        
        schedules.append({
            "Schedule_ID": f"SC{i:07d}",
            "Payment_ID": payment["Payment_ID"],
            "Due_Date": due_date.strftime('%Y-%m-%d'),
            "Status": np.random.choice(["Paid", "Overdue"]),
            "Grace_Period_Days": np.random.randint(5, 30),
        })
    return pd.DataFrame(schedules)



#### random_date 

def random_date(start, end):
    """Generate a random date between start and end."""
    start = pd.to_datetime(start) if isinstance(start, str) else start
    end = pd.to_datetime(end) if isinstance(end, str) else end
    
    # Ensure start is always before end
    if start >= end:
        return start
    
    return start + timedelta(days=np.random.randint(0, (end - start).days + 1))

### autopay non autopay tables

In [101]:
def generate_auto_pay(payments, percentage=60):
    """Generate auto-pay records (linked to premium payments)."""
    auto_payments = payments.sample(frac=percentage / 100)
    return auto_payments[["Payment_ID"]].copy()

def generate_non_auto_pay(payments, percentage=40):
    """Generate non-auto-pay records (linked to premium payments)."""
    non_auto_payments = payments.sample(frac=percentage / 100)
    return non_auto_payments[["Payment_ID"]].copy()

In [104]:
# Step 1: Generate Status Log Table
status_log = generate_status_log()

# Step 2: Generate Applications Table
applications = generate_applications(10000, customers, agents, rms, policy_types)

# Step 3: Generate Policies Table (initially without schedules or logs)
policies = generate_policies(7000, applications, status_log)

# Step 4: Generate Communication Logs
logs = generate_communication_log(15000, policies)

In [106]:
# Step 5: Generate Premium Payments
premium_payments = generate_premium_payments(1200, policies)

# Step 6: Generate Premium Schedules
schedules = generate_premium_schedule(1200, premium_payments)

# Step 7: Update Policies with Schedules and Logs
policies = generate_policies(7000, applications, status_log, schedules, logs)

In [107]:
applications = generate_applications(10000, customers, agents, rms, policy_types)
applications.head()

,Application_ID,Customer_ID,Policytype_ID,Agent_ID,RM_ID,Application_Date,Status,Sum_Assured,Premium_Amount,Premium_Frequency,Payment_Method,Created_At
0,AID00000001,005609,PI0000009,A202,None,2023-07-23,Approved,265481.48,1580.25,Yearly,Auto Pay,2023-07-23
1,AID00000002,005822,PI0000007,A065,None,2022-07-09,Approved,182017.08,606.72,Monthly,Auto Pay,2022-07-09
2,AID00000003,001715,PI0000008,A122,None,2022-06-16,Approved,54599.58,568.75,Yearly,Auto Pay,2022-06-16
3,AID00000004,002171,PI0000001,None,RM197,2024-08-14,Rejected,71243.76,329.83,Quarterly,Non Auto Pay,2024-08-14
4,AID00000005,001159,PI0000007,A110,None,2024-07-30,Rejected,338852.75,1486.20,Monthly,Auto Pay,2024-07-30
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AID00009996,001841,PI0000004,None,RM151,2022-08-16,Approved,431526.23,1798.03,Yearly,Non Auto Pay,2022-08-16
9996,AID00009997,004943,PI0000010,None,RM031,2022-01-21,Rejected,248114.11,666.97,Yearly,Auto Pay,2022-01-21
9997,AID00009998,004883,PI0000002,A147,None,2023-09-14,Approved,692377.72,1923.27,Monthly,Auto Pay,2023-09-14
9998,AID00009999,000894,PI0000002,A052,None,2023-01-19,Withdrawn,106164.56,260.21,Monthly,Non Auto Pay,2023-01-19
9999,AID00010000,001989,PI0000003,None,RM082,2024-10-31,Withdrawn,227901.80,558.58,Yearly,Non Auto Pay,2024-10-31

In [108]:
policies = generate_policies(7000, applications, status_log, schedules, logs)
policies.head()

KeyboardInterrupt:

In [ ]:
communication_logs = generate_communication_log(15000, policies)
communication_logs.head()

In [ ]:
premium_payments = generate_premium_payments(120000, policies)
premium_payments.head()

In [ ]:
premium_schedules = generate_premium_schedule(120000, premium_payments)
premium_schedules.head()

In [ ]:
auto_pay = generate_auto_pay(premium_payments, percentage=60)
auto_pay.head()

In [ ]:
non_auto_pay = generate_non_auto_pay(premium_payments, percentage=40)
non_auto_pay.head()

In [ ]:
def generate_policies(n, applications):
    """Generate policies."""
    policies = []
    approved_apps = applications[applications["Status"] == "Approved"]
    for i in range(1, n + 1):
        app = approved_apps.sample(1).iloc[0]
        policies.append({
            "Policy_Number": i,
            "Application_ID": app["Application_ID"],
            "Issue_Date": random_date(start_date, end_date),
            "Premium_Amount": app["Premium_Amount"],
            "Maturity_Date": random_date(end_date, end_date + timedelta(days=3650)),
            "Created_Date": random_date(start_date, end_date),
            "Status_Code": np.random.choice(["Active", "Lapsed"]),
        })
    return pd.DataFrame(policies)


# status code is foreign key

In [ ]:

def generate_transactions(policies, n):
    """Generate transactions for policies."""
    transactions = []
    for _ in range(n):
        policy = policies.sample(1).iloc[0]
        transactions.append({
            "Payment_ID": _,
            "Policy_ID": policy["Policy_Number"],
            "Payment_Date": random_date(policy["Issue_Date"], policy["Maturity_Date"]),
            "Amount": policy["Premium_Amount"],
            "Status": np.random.choice(["Success", "Failed"]),
            "Transaction_ID": fake.uuid4(),
        })
    return pd.DataFrame(transactions)

In [ ]:
# Generate Data
customers = generate_customers(num_customers)
agents = generate_agents(num_agents)
rms = generate_rms(num_rms)
policy_types = generate_policy_types(num_policy_types)
applications = generate_applications(num_applications, customers, agents, rms, policy_types)
policies = generate_policies(num_policies, applications)
transactions = generate_transactions(policies, num_transactions)

# Save to CSV or Database
customers.to_csv("customers.csv", index=False)
agents.to_csv("agents.csv", index=False)
rms.to_csv("rms.csv", index=False)
policy_types.to_csv("policy_types.csv", index=False)
applications.to_csv("applications.csv", index=False)
policies.to_csv("policies.csv", index=False)
transactions.to_csv("transactions.csv", index=False)

In [14]:
customers = generate_customers(num_customers)

In [17]:
customers.head()

,Customer_ID,First_Name,Last_Name,Gender,DOB,Email,Phone,Address,City,Zip_Code,Occupation,Annual_Income,Source_Channel,Created_At
0,000001,Catherine,Oliver,Male,1997-07-12,samuel15@example.net,297-484-2119x189,"669 Sherman Center Apt. 451\nPort Albertland, ...",South James,69212,Network engineer,92682.82,Web,2024-06-13
1,000002,Heather,Young,Male,1968-12-08,dspencer@example.com,+1-785-568-4977x25426,"51315 Gregory Brooks\nJonestown, MN 95049",Craigton,70642,Administrator,372945.93,Agent,2022-07-25
2,000003,Michael,Christian,Male,1964-09-27,lewisrobert@example.net,318.231.4574x699,"748 Andrew Loaf Apt. 933\nCarriefort, OK 22393",Thompsonmouth,79041,"Designer, textile",396098.01,Agent,2024-08-05
3,000004,Daisy,Lin,Female,1975-04-21,mdoyle@example.com,(413)479-1871,"138 Jacob Trace Apt. 786\nSouth Alyssa, VA 82730",Chenstad,40418,"Editor, film/video",368480.45,Bank,2022-03-13
4,000005,Rebecca,Valdez,Male,2005-11-01,sheilawebb@example.org,001-752-450-7029x94855,"346 Tracy River\nWest Raymondton, ND 10762",Laurenside,21185,Insurance broker,97142.16,Agent,2024-02-12